body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(31,128,30,0.5396752450980392) 100%);
     }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 59px;
    color: white;
  }


.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.buttons-container button {
    font-size: 40px;
    padding: 45px;
    margin: 45px;
    box-shadow:  0 4px 8px 0 rgba(37, 37, 37, 0.6);
    background-color: white;
    border: 0px;
    border-radius: 30px;
}

  button{
    margin: 5px;
    padding: 7px;
  }

